openapi: "3.0.0"
#set server once this becomes a "real thing"
servers:
  - url: 'https://hypnos-client-api.welocalize.io:5999'
info:
  title: Welocalize Client API Documentation
  # license:
  #   name: Apache 2.0
  #   url: "www.welocalize.com" # Update once this becomes a "real thing"
  # version: "0.1" # Update once this becomes a "real thing"
  x-logo:
    url: 'https://www.gala-global.org/sites/default/files/Welocalize_94.jpg'
    altText: welocalize logo
security:
  - x-pantheon-auth-key: []
components:
  securitySchemes:
    x-pantheon-auth-key:
      description: The auth key to use to authenticate the request. The key is generated by Welocalize and associated to a specific account's program. Reach out to your welocalize contact to get your key.
      name: x-pantheon-auth-key
      schema:
        type: string
      in: header
      required: true
paths:
  /v1/client-api/services:
    get:
      operationId: clientApiListServices
      summary: Get service list
      description: This endpoint returns the list of available services.
      parameters:
        - in: header
          name: x-pantheon-auth-key
          schema:
            type: string
          required: true
          description: The auth key to use to authenticate the request
      responses:
        "200":
          description: Returns an array containing the ID and name of each available service.
          content:
            application/json:
              example:
                {
                  data: [{ id: 1, serviceName: Standard Translation }, { id: 2, serviceName: In-Context Review}],
                  meta: { count: 2 },
                }
        "400":
          description: Bad Request
          content:
            application/json:
              example: { data: Bad Request, meta: {} }
        "401":
          description: Unauthorized
          content:
            application/json:
              example: { data: Unauthorized, meta: {} }
  /v1/client-api/project:
    post:
      operationId: clientApiCreateProject
      summary: Create project
      description: This endpoint makes it easy to create projects based on a few inputs parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - projectReferenceId
                - name
                - languages
                - services
              properties:
                projectReferenceId:
                  type: string
                  description: Project identifier. Must be unique.
                name:
                  type: string
                  description: Name of the project.
                dueDate:
                  type: string
                  format: date
                  description: Date when the project should be completed.
                languages:
                  type: array
                  description: Array with the project's language pairs. Each element of this array is composed of a source language and a target language value.
                  items:
                    type: object
                    properties:
                      source:
                        type: string
                      target:
                        type: string
                services:
                  type: array
                  description: Array with the services ids to be used for the project.
                extraProjectInfo:
                  type: object
                  description: Extra information about the project. You can add any object or array.
                analysis:
                  type: array
                  description: Here you can pass the TMS file analysis
                  items:
                    type: object
                    properties:
                      targetLocale:
                        type: array
                        description: The target locale of the analysis
                        items:
                          type: object
                          properties:
                            analysisBucketType:
                              type: string
                              description: The type of analysis bucket
            example:
              projectReferenceId: "12345"
              name: "New Project"
              dueDate: "2024-12-31"
              languages:
                - source: "en-US"
                  target: "fr-FR"
                - source: "en-US"
                  target: "de-DE"
              services:
                - id: "6"
              extraProjectInfo:
                instructions: "This is a set of Instructions"
                priority: "standard"
                preapprovedProject: true
              analysis:
                  fr-FR:
                    iceMatches: 0
                    repetitions: 5
                    oneHundred: 10
                    ninetyFive: 15
                    eightyFive: 20
                    seventyFive: 25
                    newWords: 30
                  de-DE:
                    iceMatches: 0
                    repetitions: 5
                    oneHundred: 10
                    ninetyFive: 15
                    eightyFive: 20
                    seventyFive: 25
                    newWords: 30
      responses:
        "200":
          description: You will receive an object with the project ID.
          content:
            application/json:
              example: { data: { id: 1234567 }, meta: {} }
        "400":
          description: Bad Request
          content:
            application/json:
              example:
                Bad request: {status: 400, messages: Bad Request}
                Requested Service is not available: {status: 400, messages: These services ids are not available in our system}
        "401":
          description: Authentication errors, including unauthorized or token expiration.
          content:
            application/json:
              example:
                Unauthorized: {status: 401, message: Unauthorized}
                Auth Token Expired: {status: 401, message: Auth Token Expired}
  /v1/client-api/project/{projectId}/file:
    post:
      operationId: clientApiUploadFile
      summary: Upload file
      description: This endpoint can be used to upload the necessary file (Max 2Gb). To do this, the project must already be created. To upload the files, use the “form-data” format in the body of the request.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
                - file
                - asset
              properties:
                file:
                  type: string
                  description: The file you want to upload in the project.
                asset:
                  type: object
                  description: Information about the file, such as name, type. In the case of type, you have only two options, “work” or “reference”.
                  properties:
                    name:
                      type: string
                      description: The name of the file.
                    type:
                      type: string
                      description: Either work or reference
            example:
              file: file.txt
              asset:
                name: "A File Text"
                type: work
      parameters:
        - in: path
          name: projectId
          schema:
            type: number
          required: true
          description: Project identifier. Must be unique.
      responses:
        "200":
          description: You will receive an array, where the objects contain file ID and file name.
          content:
            application/json:
              example: { data: [{ id: 12324567, name: "A File Text " }], meta: {} }
        "400":
          description: Bad Request
          content:
            application/json:
              example: { data: Bad Request, meta: {} }
        "401":
          description: Unauthorized
          content:
            application/json:
              example: { data: Unauthorized, meta: {} }
  /v1/client-api/project/{projectId}/file/{fileId}:
    delete:
      operationId: clientApiFileDelete
      summary: Delete file
      description: This endpoint can be used to delete files.
      parameters:
        - in: path
          name: projectId
          schema:
            type: number
          required: true
          description: Project identifier. Must be unique.
        - in: path
          name: fileId
          schema:
            type: number
          required: true
          description: File identifier wants to delete.
      responses:
        "200":
          description: You will receive an object with a string that says the file has been deleted successfully.
          content:
            application/json:
              example: { data: Success file deleted, meta: {} }
        "400":
          description: Bad Request
          content:
            application/json:
              example: { message: This file does not exist}
        "401":
          description: Unauthorized
          content:
            application/json:
              example: { data: Unauthorized, meta: {} }
  /v1/client-api/project/{projectId}/start:
    put:
      operationId: clientApiStartProject
      summary: Start project
      description: Initiates the translation process for the specified project.
      parameters:
        - in: path
          name: projectId
          schema:
            type: number
          required: true
          description: Project identifier. Must be unique.
      responses:
        "200":
          description: You will receive an object with a string that says the project has been started successfully.
          content:
            application/json:
              example: { data: Project started successfully, meta: {} }
        "400":
          description: Bad Request
          content:
            application/json:
              example: { data: Bad Request, meta: {} }
        "401":
          description: Unauthorized
          content:
            application/json:
              example: { data: Unauthorized, meta: {} }
  /v1/client-api/projects:
    get:
      operationId: clientApiProjectList
      summary: Get project list
      description: At this endpoint, you can get all the projects with all data.
      parameters:
        - in: header
          name: x-pantheon-auth-key
          schema:
            type: string
          required: true
          description: The auth key to use to authenticate the request
      responses:
        "200":
          description: You will receive an empty object.
          content:
            application/json:
              example:
                {
                  data:
                    [
                      {
                        id: String,
                        status: String,
                        languages: [{ source: String, target: String }],
                        dueDate: Date,
                      },
                    ],
                  meta: Object,
                }
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
  /v1/client-api/project/{projectId}/status:
    get:
      operationId: clientApiProjectStatus
      summary: Get project status
      description: At this endpoint, you can get the project status.
      parameters:
        - in: header
          name: x-pantheon-auth-key
          schema:
            type: string
          required: true
          description: The auth key to use to authenticate the request
        - in: path
          name: projectId
          schema:
            type: number
          required: true
          description: Project identifier. Must be unique.
      responses:
        "200":
          description: You will receive an object with the status of the project in string value. If you specify a projectId that does not exist, it will return an object with an "undefined" value.
          content:
            application/json:
              example: { data: { status: String }, meta: Object }
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
  /v1/client-api/project/{projectId}/deliverables:
    get:
      operationId: clientApiGetDeliverableList
      summary: Get deliverable list
      description: This endpoint returns an array with all deliverable assets available for this project. The array contains items with assetId and assetReference (name of the file uploaded).
      parameters:
        - in: header
          name: x-pantheon-auth-key
          schema:
            type: string
          required: true
          description: The auth key to use to authenticate the request
        - in: path
          name: projectId
          schema:
            type: number
          required: true
          description: Project identifier. Must be unique.
      responses:
        "200":
          description: You will receive an array with all deliverable assets available that contains data about it.
          content:
            application/json:
              example:
                {
                  data: [{ id: number, assetReference: string }],
                  meta: { count: number },
                }
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
  /v1/client-api/project/{projectId}/deliverable/{deliverableId}:
    get:
      operationId: clientApiGetDeliverable
      summary: Get deliverable file
      description: In this endpoint, we can download the data of a deliverable asset of a given project.
      parameters:
        - in: header
          name: x-pantheon-auth-key
          schema:
            type: string
          required: true
          description: The auth key to use to authenticate the request
        - in: path
          name: projectId
          schema:
            type: number
          required: true
          description: Project identifier. Must be unique.
        - in: path
          name: deliverableId
          schema:
            type: number
          required: true
          description: Identifier of asset.
      responses:
        "200":
          description: If the project deliverable is a hyperlink, it returns "url", "name", "id", otherwise it returns a file stream.
          content:
            application/json:
              example: { data: object, meta: {} }
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
  /v1/client-api/project/{projectId}/files:
    get:
      operationId: clientApiGetAssetList
      summary: Get asset list by project
      description: In this endpoint returns a list of assets associated to a project
      parameters:
        - in: header
          name: x-pantheon-auth-key
          schema:
            type: string
          required: true
          description: The auth key to use to authenticate the request
        - in: path
          name: projectId
          schema:
            type: number
          required: true
          description: Project identifier. Must be unique.
      responses:
        "200":
          description: You will receive an array with assets that contains data about it.
          content:
            application/json:
              example:
                {
                  data:
                    [
                      {
                        id: number,
                        assetReference: string,
                        source: string,
                        target: string,
                      },
                    ],
                  meta: { count: number },
                }
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
